[package]
name = "pesa-macros"
version.workspace = true
edition.workspace = true
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"
